In [34]:
# mpg데이터 읽어오기 
import pandas as pd
mpg = pd.read_csv('mpg.csv')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [11]:
# 자동차 배기량(displ)이 4이하 자동차 데이터를 읽어와서 mpg_a 만들기
mpg_a = mpg.query('displ <= 4 ')
mpg_a.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [12]:
# 자동차 배기량(displ)이 5이하 자동차 데이터를 읽어와서 mpg_a 만들기
mpg_b = mpg.query('displ <= 5')
mpg_b.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [14]:
# mpg_a(배기량(displ)이 4이하 자동차) 고속도로 연비(hwy) 평균 구하기
mpg_a['hwy'].mean()

25.96319018404908

In [15]:
# mpg_b(배기량(displ)이 5이하 자동차) 고속도로 연비(hwy) 평균 구하기
mpg_b['hwy'].mean()

24.404040404040405

In [17]:
if mpg_a['hwy'].mean() > mpg_b['hwy'].mean() :
    print('배기량 4 이하 자동차의 고속도로 연비가 높다')
elif mpg_a['hwy'].mean() < mpg_b['hwy'].mean() :
    print('배기량 4 이하 자동차의 고속도로 연비가 높다')

IndentationError: expected an indented block after 'if' statement on line 1 (3913872718.py, line 2)

In [19]:
# 자동차 회사(manufacturer) audi 데이터를 읽어와서 mpg_audi 만들기
mpg_audi = mpg.query('manufacturer == "audi"')
mpg_audi.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [20]:
# 자동차 회사(manufacturer) toyota 데이터를 읽어와서 mpg_toyota 만들기
mpg_toyota = mpg.query('manufacturer == "toyota"')
mpg_toyota.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
173,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
174,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
175,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv
176,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv

In [21]:
# mpg_audi(자동차 회사(manufacturer) audi)의 도시 연비(cty) 평균 구하기
mpg_audi['cty'].mean()

17.61111111111111

In [23]:
# mpg_toyota(자동차 회사 (manufacturer) toyota)의 도시 연비(cty) 평균 구하기 
mpg_toyota['cty'].mean()

18.529411764705884

In [42]:
# 'chevrolet' 'ford' 'honda' 자동차 데이터를 추출하여 mpg_new 테이블 생성
mpg_new = mpg.query('manufacturer in ["chevrolet", "ford", "honda"]')
mpg_new.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv

In [43]:
# mpg_new()'chevrolet' 'ford' 'honda' 자동차 데이터)의 고속도로 연비(hwy)의 평균 구하기
mpg_new['hwy'].mean()

22.50943396226415

In [44]:
# 각 자동차 회사의 모델별 자동차 수를 알아보자
mpg_new['manufacturer'].value_counts()

ford         25
chevrolet    19
honda         9
Name: manufacturer, dtype: int64