In [2]:
# mpg데이터 읽어오기 
import pandas as pd
mpg = pd.read_csv('mpg.csv')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [11]:
# 자동차 배기량(displ)이 4이하 자동차 데이터를 읽어와서 mpg_a 만들기
mpg_a = mpg.query('displ <= 4 ')
mpg_a.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [12]:
# 자동차 배기량(displ)이 5이하 자동차 데이터를 읽어와서 mpg_b 만들기
mpg_b = mpg.query('displ <= 5')
mpg_b.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [14]:
# mpg_a(배기량(displ)이 4이하 자동차) 고속도로 연비(hwy) 평균 구하기
mpg_a['hwy'].mean()

25.96319018404908

In [15]:
# mpg_b(배기량(displ)이 5이하 자동차) 고속도로 연비(hwy) 평균 구하기
mpg_b['hwy'].mean()

24.404040404040405

In [17]:
if mpg_a['hwy'].mean() > mpg_b['hwy'].mean() :
    print('배기량 4 이하 자동차의 고속도로 연비가 높다')
elif mpg_a['hwy'].mean() < mpg_b['hwy'].mean() :
    print('배기량 4 이하 자동차의 고속도로 연비가 높다')

IndentationError: expected an indented block after 'if' statement on line 1 (3913872718.py, line 2)

In [19]:
# 자동차 회사(manufacturer) audi 데이터를 읽어와서 mpg_audi 만들기
mpg_audi = mpg.query('manufacturer == "audi"')
mpg_audi.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [20]:
# 자동차 회사(manufacturer) toyota 데이터를 읽어와서 mpg_toyota 만들기
mpg_toyota = mpg.query('manufacturer == "toyota"')
mpg_toyota.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
173,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
174,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
175,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv
176,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv

In [21]:
# mpg_audi(자동차 회사(manufacturer) audi)의 도시 연비(cty) 평균 구하기
mpg_audi['cty'].mean()

17.61111111111111

In [23]:
# mpg_toyota(자동차 회사 (manufacturer) toyota)의 도시 연비(cty) 평균 구하기 
mpg_toyota['cty'].mean()

18.529411764705884

In [3]:
# 'chevrolet' 'ford' 'honda' 자동차 데이터를 추출하여 mpg_new 테이블 생성
mpg_new = mpg.query('manufacturer in ["chevrolet", "ford", "honda"]')
mpg_new

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
23,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
30,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
32,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
34,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
35,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize
36,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
74,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
75,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
76,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
77,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
78,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
79,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
80,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
81,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
82,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
83,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
84,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup
85,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
86,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup
87,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup
88,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup
89,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup
90,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact
91,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact
92,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact
93,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact
94,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact
95,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact
96,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
97,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
98,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
105,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact
106,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact

In [43]:
# mpg_new()'chevrolet' 'ford' 'honda' 자동차 데이터)의 고속도로 연비(hwy)의 평균 구하기
mpg_new['hwy'].mean()

22.50943396226415

In [44]:
# 각 자동차 회사의 모델별 자동차 수를 알아보자
mpg_new['manufacturer'].value_counts()

ford         25
chevrolet    19
honda         9
Name: manufacturer, dtype: int64